@import "_all-page.scss";

#main {
    .block1 {
        padding-bottom : $a20;
        .container {
            .main_p {
                font-family: 'GothamProLight';
                font-style: normal;
                font-weight: 300;
                font-size: $a20;
                line-height: 99.7%;
                color: #000000;
                margin: $a30 0;
                .db {
                    display: none;
                }
            }
            .wrapper {
                margin-top : $a66;
                display: flex;
                justify-content: space-between;
                .item {
                    width : $a367;
                    position: relative;
                    .brd {
                        position: absolute;
                        bottom : $a70;
                        right : -$a5;
                        width: $a3;
                        height: $a55;
                        background: #0096FF;
                    }
                    .box_dashed {
                        left : $a167;
                        width: $a68;
                        top : $a70;
                        height: $a51;
                        position: absolute;
                        border: $a3 dashed #434242;
                        border-left-color: transparent;
                        border-bottom-color: transparent;
                    }
                    .circle {
                        position: relative;
                        width: $a141;
                        height: $a141;
                        background: linear-gradient(180deg, #FF7A00 0%, #FF9432 58.17%);
                        box-shadow: 0 $a10 $a35 #FF881B;
                        border-radius: 50%;
                        .implant, .implant1, .implant2, .implant3, .implant4, .implant5  {
                            position: absolute;
                            display: flex;
                            align-items: flex-end;
                            bottom : $a31;
                            left : $a36;
                            img {
                                width : $a112;
                            }
                        }
                        .implant1 {
                            img {
                                width : $a131;
                            }
                        }
                        .implant2 {
                            left : $a20;
                            bottom : -$a10;
                            img {
                                width : $a170;
                            }
                        }
                        .implant3 {
                            left : $a51;
                            bottom : $a47;
                            img {
                                width : $a90;
                            }
                        }
                        .implant4 {
                            left : $a52;
                            bottom : $a47;
                            img {
                                width : $a100;
                            }
                        }
                        .implant5 {
                            left : $a51;
                            bottom : $a47;
                            img {
                                width : $a89;
                            }
                        }
                    }
                    .circle1 {
                        background: #fff;
                        box-shadow: 0 $a10 $a35 #B3ACAD;
                    }
                    h5 {
                        margin: $a30 0 $a15;
                    }
                    .text {
                        font-family: GothamProLight;
                        font-style: normal;
                        font-weight: 300;
                        font-size: $a15;
                        line-height: 120%;
                        color: #434242;
                    }
                }
            }
            .title {
                font-family: GothamProBold;
                text-transform : uppercase;
                font-style: normal;
                font-weight : 900;
                font-size: $a40;
                line-height: 99.7%;
                color: #434242;
                margin-top : $a45;
                margin-bottom : $a25;
                display: flex;
            }
        }
    }
    .block2 {
        padding-bottom : $a65;
        position: relative;
        .box_wrap {
            bottom : 0;
            right : $a342;
            z-index : -1;
            position: absolute;
            width: $a718;
            height: $a308;
            background: linear-gradient(358.54deg, #FFFFFF 4.43%, rgba(255, 255, 255, 0) 97.28%);
        }
        .girl1 {
            z-index : -2;
            position: absolute;
            display: flex;
            align-items: flex-end;
            right : $a380;
            bottom : 0;
            img {
                width : $a674;
            }
        }
        .block_title {
            margin-bottom : $a70;
        }
        .container {
            z-index : 2;
            .item  {
                margin-top : $a13;
                display: flex;
                align-items: center;
                .number {
                    margin-right : $a14;
                    font-family: GothamProBold;
                    font-style: normal;
                    font-weight: 900;
                    font-size: $a50;
                    line-height: 99.7%;
                    color: rgba(67, 66, 66, 0.72);
                }
                .description {
                    font-family: GothamProLight;
                    font-style: normal;
                    font-weight: 300;
                    font-size: $a20;
                    line-height: 99.7%;
                    color: #434242;
                }
            }
            .brd {
                margin-top : $a22;
                margin-bottom : $a30;
                width: $a74;
                height: $a5;
                background: rgba(67, 66, 66, 0.49);
            }
        }
    }
    .block3 {
        padding-bottom : $a80;
        .container {
            h4 {
                margin-top : $a65;
                margin-bottom : $a80;
            }
            .wrapper {
                align-items: center;
                display: flex;
                //justify-content : space-between;
                .map {
                    margin-right : $a25;
                    box-shadow: 0 $a4 $a20 rgba(0, 0, 0, 0.33);
                    display: flex;
                    align-items : flex-end;
                    width: $a665;
                    height: $a539;
                    #map {
                        width: 100%;
                        height: 100%;
                    }
                }
                .right_block {
                    .item {
                        display: flex;
                        align-items: center;
                        margin-bottom : $a24;
                        justify-content: space-between;
                        a {
                            font-family: GothamProLight;
                            font-style: normal;
                            font-weight: 300;
                            font-size: $a18;
                        }
                    }
                    p {
                        margin-left : $a50;
                        font-family: GothamProLight;
                        font-style: normal;
                        font-weight: 300;
                        font-size: $a20;
                        line-height: 99.7%;
                        color: #434242;
                        position : relative;
                        border-right: 1px solid #ccc;
                        padding-right: $a20;
                        margin-right: $a20;
                        width: $a230;
                        span {
                            font-family: GothamProLight;
                            font-style: normal;
                            font-weight: 300;
                            font-size: $a15;
                            line-height: 66.2%;
                            color: #434242;
                        }
                        &:before {
                            left : -$a45;
                            top : 50%;
                            position: absolute;
                            content: "";
                            width: $a28;
                            height: 2px;
                            background: #0096FF;
                        }
                    }
                }
            }
        }
    }
    .block4 {
        padding-bottom : $a30;
        .block_title {
            margin-bottom : $a39;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
                font-family: 'GothamProMedium';
                font-style: normal;
                //font-weight: bold;
                font-size: $a20;
                line-height: $a35;
                text-align: center;
                color: #434242;
                margin-bottom : $a85;
            }
            .fortuna {
                position: relative;
                display: flex;
                justify-content : center;
                align-items : center;
              margin-bottom: $a40;
                &:before {
                    border-top: $a40 solid #fff;
                    position: absolute;
                    content: '';
                    top: $a25;
                    right: 0;
                    left: 0;
                    margin: auto;
                    border-left: $a20 solid transparent;
                    border-right: $a20 solid transparent;
                    z-index: 1;
                    width: 0;
                }
                #fortuna {
                    display: flex;
                    width : $a558;
                    transition: all 5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
                    box-shadow: 0 0 $a10 $a30 rgba(0,0,0,.5);
                    border-radius: 50%;
                }
                .twist {
                    background: none;
                    border: none;
                    position: absolute;
                    border-radius: 50%;
                    img {
                        width : $a171;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
  #main {
    .block1 {
      padding-bottom: $m25;
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .main_p {
          white-space: normal !important;
          margin: $m50 0 0 0 !important;
          padding: 0 !important;
          text-align: center !important;
          width: 95%;
          font-size: $m15 !important;
          .dn {
            display: none;
          }
          .db {
            display: inline-block !important;
          }
        }
        .wrapper {
          justify-content: center;
          width: 100%;
          flex-direction: column;
          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .box_dashed {
              display: none;
            }
            .brd {
              display: none;
            }
            .circle {
              margin: $m30 0 $m40;
              width: $m80;
              height: $m80;
              box-shadow: 0 $m10 $m35 #FF7A00;
              .implant, .implant1, .implant2 {
                img {
                  width: $m80;
                }
              }
              .implant {
                 bottom: $m11;
                 left: $m23;
               }
              .implant1 {
                bottom: $m18;
                left: $m20;
              }
              .implant2 {
                bottom: $m6;
                left: $m9;
              }
              .implant4, .implant5, .implant3 {
                img {
                  width: $m50 !important;
                }
              }
              .implant4 {
                bottom: $m25;
                left: $m28
              }
              .implant5 {
                bottom: $m26;
                left: $m29;
              }
              .implant3 {
                bottom: $m26;
                left: $m29;
              }
            }
            .circle1 {
              box-shadow: 0 $m10 $m35 #B3ACAD;
            }
            h5 {
              margin: 0 !important;
              padding: 0 !important;

            }
            .text {
              padding: 0 !important;
              text-align: center !important;
              margin-top: $m12;
              font-size: $m15 !important;
            }
          }
        }
        .title {
          margin: $m40 0 0 0;
          font-size: $m20;
          text-align: center;
        }
      }
    }
    .block2 {
      padding-bottom: $m22;
      .box_wrap, .girl1 {
        display: none;
      }
      .container {
        .brd {
          display: none;
        }
        .item {
          align-items: flex-end;
          margin-top: $m15;
          .description {
            padding: 0 !important;
            font-size: $m15 !important;
          }
          .number {
            margin-right: $m14;
            font-size: $m50;
          }
        }
      }
    }
    .block3 {
      padding-bottom: 0;
      .container {
        h4 {
          display: none;
        }
        .wrapper {
          flex-flow: column-reverse;
          .right_block {
            padding-left: $m40;
            width: 100%;
            margin-top: $m20;
            margin-bottom: $m10;
            p {
              width: 100%;
              line-height: $m30 !important;
              font-size: $m20 !important;
              margin: 0 0 $m10 0 !important;
              padding-left: $m25 !important;
              padding-right: 0 !important;
              border-right: none;
              span {
                font-size: $m15;
                display: block;
              }
              .dnn {
                display: none;
              }
            }
            a {
              display: none;
            }
            p:before {
              width: $m20;
            }
          }
          .map {
            margin: 0;
            height: $m380;
            width: $m320;
            img {
              width: 100%;
            }
          }
        }
      }
    }
    .block4 {
      .container {
        h2 {
          padding: $m15 0 !important;
        }
        p {
          width: 90%;
          font-size: $m15;
          text-align: center !important;
          padding: 0 !important;
          margin: $m23 0 $m44;
        }
        .fortuna {
          margin-bottom: $m50;
          width: $m300;
          img {
            width: 90% !important;
          }
          .twist {
            width: $m97;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
